@font-face {
    font-family: 'pixelFont';
    src: url('/src/assets/coolFont.ttf');
}

@font-face {
    font-family: 'cyberFont';
    src: url(src/assets/neonGlow.ttf);
}

p{
    text-align: start;
    padding: 0%;
    font-size: 15px;
}

#title{
    margin-top: 20%;
    font-size: 240px;
    text-align: center;
}

.blackBackground{
    background-color: black;
    color: whitesmoke;
}

.buttonCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5%;
    gap: 2%;
    padding: 0.5%;
}

li{ 
    font-size: 20px;
}

button:hover{
    color:crimson;
}

.imageStyle{
    height: 160px;
    width: 160px;
    margin-bottom: 2%;
}

button{
    background-color:lightgreen;
}

.timeline {
    max-width: 700px;
    border-left: 5px solid gold;
    padding: 10px;
    margin: 0 auto;
    margin-left: 0%;
}

#audioID{

}

.timelineParent{
    display: flex;
    gap:0;
}

.timelineImages{
    margin-left: 10%;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #00f3ff, 0 0 30px #00f3ff;
  }
  20%, 24%, 55% {        
    text-shadow: none; 
  }
}

*{
    font-family: 'cyberFont';
    color: #ffffff;
    font-weight: bold;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #00f3ff, 0 0 30px #00f3ff, 0 0 40px #00f3ff;
   animation: flicker 3s infinite alternate;
}